{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
    <h1 align="center">{{ schedule.group }}</h1>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="">#</th>
      <th scope="col">Понедельник</th>
      <th scope="col">Вторник</th>
      <th scope="col">Среда</th>
      <th scope="col">Четверг</th>
      <th scope="col">Пятница</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ schedule.pon_one }}</td>
      <td>{{ schedule.vtornik_one }}</td>
      <td>{{ schedule.sreda_one }}</td>
      <td>{{ schedule.chetverg_one }}</td>
      <td>{{ schedule.patniza_one }}</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>{{ schedule.pon_two }}</td>
      <td>{{ schedule.vtornik_two }}</td>
      <td>{{ schedule.sreda_two }}</td>
      <td>{{ schedule.chetverg_two }}</td>
      <td>{{ schedule.patniza_two }}</td>
    </tr>

  </tbody>
</table>
</body>
{% endblock %}